@font-face {
  font-family: 'Fredoka';
  src: url('/fonts/fredoka-variable.woff2') format('woff2-variations');
  font-weight: 300 700;
  font-stretch: 75% 125%; 
  font-display: swap;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
}

@utility text-stroke-* {
  -webkit-text-stroke-width: --value(integer)px;
  -webkit-text-stroke-color: --value(--color-*);
  paint-order: stroke fill;
}

* {
  cursor: url("/cursor.svg"), auto;
}